.char{
    position: relative;
}
.char::after{
    position: absolute;
    content: '';
    width: 1px;
    height: 40px;
    left: -15px;
    opacity: 0;
    top: 4px;
    transition: all 0.3s;
    background-color: #F2921D;
}

.char.now::after{
    left: 0;
    opacity: 1;
    animation: scal .5s infinite ease
}

@keyframes scal {
    to{
        opacity: 0.5;
    }
}
.char.now:focus{
    outline: none;
}
.char.done{
    color: #F2921D;
}

.char.wrong{
    color: rgb(237, 21, 21);
}

.char.wrong.space::before{
    position: absolute;
    content: '';
    bottom: 5px;
    left: auto;
    width: 10px;
    height: 20px;
    background-color: red;
}
