#tracking-bar{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 30px;
    gap:15px;
    border-radius: 20px;
    margin-bottom: 40px;
    width: 100%;
    background-color: var(--backDark);
}
#tracking-bar *{
    color: var(--colorDark);
}
#tracking-bar h3 span{
    color:#F2921D !important;
    padding-left: 5px;
}

#tracking-bar>div{
    display: flex;
    gap: 30px;
}

.root.dark #tracking-bar{
    background-color:var(--backLight);
}

.root.dark #tracking-bar *{
    color: var(--colorLight);
}