header{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header nav{
    display: flex;
    align-items: center;
    gap: 10px;
}

header nav a{
    color: var(--colorLight);
}

.root.dark header nav a{
    color: var(--colorDark);
}

