:root{
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  height: 100%;
  --backDark:black;
  --colorDark:white;

  --backLight:white;
  --colorLight:black;
}

#outlet{
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container{
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.root{
  background-color: var(--backLight);
  color: var(--colorLight);
}
.root *{
  color: var(--colorLight);
}

.root.dark{
  background-color: var(--backDark);
  color: var(--colorDark);
}

.root.dark *{
  color: var(--colorDark);
}

.card{
  border-radius: 20px;
  background: var(--backDark);
}

.root.dark .card{
  background: var(--backLight);
}
.root.dark .card *{
  color: var(--colorLight);
}

.card form{
  padding: 20px;
  max-width: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 26px;
}
.card .head{
  text-align: center;
}
.card .content{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card .content .row{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 13px;
}

.card .content .row h3{
width: 100px;
}
.card .content .row input{
padding: 15px 20px;
border-radius: 10px;
font-size: 18px;
font-weight: bold;
}
.card .content .btns{
  display: flex;
  justify-content: center;
  gap: 20px;
}

.card .content .btns button,
.card .content .btns button a{
  background: var(--backDark);
  color: var(--colorDark);
}

.card .content .error{
  color: red;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}